/*https://dev.to/zetareticoli/dark-mode-with-sass-and-css-variables-4f9b*/

:root[data-theme='theme-dark'] {
    $bg_color: #20232c;
    $video_row_bg_color: #20232c;
    $video_drop_shadow: #0f121b;
    $font_color_light: #fff;
    $font_color_dark: #ffffff;
    $link_color: #ffc61b; //ff9900
    $link_color_light: #ffc61b50;
    $secondary_link_color: #367081; // 41ff1b vagy #4091d3 vagy #367081
    $link_glow: 0 0 2px $link_color;
    $dd_menu_bg_color: #111318;
    $input_bg_color: #303441;
    $audio_bg_color: rgb(63, 71, 90);
    $audio_text_color: rgb(124, 129, 141);
    $loader_bg: $bg_color;
    $loader_preloaded: #50576ee8;
    $frame_button_separator: $video_row_bg_color;
    $frameNavMenu: #303441;
    $frameNavMenuHover: #303441;
    $sideNavBg: $input_bg_color;
    $sideNavHover: $audio_bg_color;
    $sideNavBgActive: $audio_bg_color;
    $sideNavSep: #5a5e6b;
    $sideNavTextColor: $audio_text_color;
    $right_panel_dark_bg_color: #1113185d;
    $frameTabFont: $audio_text_color;
    $frameTabBgHover: #2b2f3b;
    $frameTabBg: #22242c;
    $frameTabBgBorder: $loader_preloaded;
    $frameTabBorder: rgb(59, 59, 59);
    $frameTabBgBorderSelected: $link_color;
    $frameTabBgSelected: #2b2f3b;
    $rightPanelResponseAreaBorder: #2b2f3b;
    $rightPanelSettingsBorder: $frameNavMenu;
    $frameButtonBg: #272b3500;
    $frameButtonFont: $audio_text_color;
    $tabTextGeneral: rgb(176, 180, 190);
    $largeTakeAPhotoIcon: rgb(34, 35, 44);
    $tvControllerBg: #2b2f3b;
    $tvControllerColor: rgb(176, 180, 190);
    $tvControllerBorder: rgb(176, 180, 190);
    $syncVideoIco: #ffc61b85;
    $syncVideoActive: #ffc61b85;
    $commentMsgBoxBg: #272b3500;
    $showVideoInfo: #fff;
    $messageRowHover: #c0c0c0;
    $commentBlockBorder: #ffffff;
    $streamLineBg: #0f121b;
    $streamText: #fff;
    $bubbleTextBg: $video_row_bg_color;
    $bubbleText: $link_color;
    $trackName: rgb(231, 231, 231);
    $commentMsgIcons: $link_color;
    $commentMsgBg: $bg_color;
    $typingMessageText: #e4e4e4;
    --bg_color: #{$bg_color};
    --video_row_bg_color: #{$video_row_bg_color};
    --video_drop_shadow: #{$video_drop_shadow};
    --font_color_light: #{$font_color_light};
    --font_color_dark: #{$font_color_dark};
    --link_color: #{$link_color}; //ff9900
    --link_color_light: #{$link_color_light};
    --secondary_link_color: #{$secondary_link_color}; // 41ff1b vagy #4091d3 vagy #367081
    --link_glow: #{$link_glow};
    --dd_menu_bg_color: #{$dd_menu_bg_color};
    --input_bg_color: #{$input_bg_color};
    --audio_bg_color: #{$audio_bg_color};
    --audio_text_color: #{$audio_text_color};
    --loader_bg: #{$loader_bg};
    --loader_preloaded: #{$loader_preloaded};
    --frame_button_separator: #{$frame_button_separator};
    --frameNavMenu: #{$frameNavMenu};
    --frameNavMenuHover: #{$frameNavMenuHover};
    --sideNavBg: #{$sideNavBg};
    --sideNavHover: #{$sideNavHover};
    --sideNavBgActive: #{$sideNavBgActive};
    --sideNavSep: #{$sideNavSep};
    --sideNavTextColor: #{$sideNavTextColor};
    --right_panel_dark_bg_color: #{$right_panel_dark_bg_color};
    --frameTabFont: #{$frameTabFont};
    --frameTabBgHover: #{$frameTabBgHover};
    --frameTabBg: #{$frameTabBg};
    --frameTabBgBorder: #{$frameTabBgBorder};
    --frameTabBorder: #{$frameTabBorder};
    --frameTabBgBorderSelected: #{$frameTabBgBorderSelected};
    --frameTabBgSelected: #{$frameTabBgSelected};
    --rightPanelResponseAreaBorder: #{$rightPanelResponseAreaBorder};
    --rightPanelSettingsBorder: #{$rightPanelSettingsBorder};
    --frameButtonBg: #{$frameButtonBg};
    --frameButtonFont: #{$frameButtonFont};
    --tabTextGeneral: #{$tabTextGeneral};
    --largeTakeAPhotoIcon: #{$largeTakeAPhotoIcon};
    --tvControllerBg: #{$tvControllerBg};
    --tvControllerColor: #{$tvControllerColor};
    --tvControllerBorder: #{$tvControllerBorder};
    --syncVideoIco: #{$syncVideoIco};
    --syncVideoActive: #{$syncVideoActive};
    --commentMsgBoxBg: #{$commentMsgBoxBg};
    --showVideoInfo: #{$showVideoInfo};
    --messageRowHover: #{$messageRowHover};
    --commentBlockBorder: #{$commentBlockBorder};
    --streamLineBg: #{$streamLineBg};
    --streamText: #{$streamText};
    --bubbleTextBg: #{$bubbleTextBg};
    --bubbleText: #{$bubbleText};
    --trackName: #{$trackName};
    --commentMsgIcons: #{$commentMsgIcons};
    --commentMsgBg: #{$commentMsgBg};
    --typingMessageText: #{$typingMessageText};
}

:root[data-theme='theme-light'] {
    --bg_color: rgb(241, 241, 241);
    --video_row_bg_color: #20232c;
    --video_drop_shadow: #d1d1d1;
    --font_color_light: #fff;
    --font_color_dark: #20232c;
    --link_color: #0083fd;
    --link_color_light: #0083fd;
    --secondary_link_color: #167ad6;
    --link_glow: 0 0 0px #0083fd;
    --dd_menu_bg_color: #20232c;
    --input_bg_color: #d8d8d8;
    --audio_bg_color: rgb(90, 86, 63);
    --audio_text_color: rgb(95, 95, 95);
    --loader_bg: #20232c;
    --loader_preloaded: #ffffff3f;
    --frame_button_separator: rgb(29, 29, 29);
    --frameNavMenu: rgb(226, 226, 226);
    --frameNavMenuHover: rgb(226, 226, 226);
    --sideNavBg: $frameNavMenu;
    --sideNavHover: rgb(238, 238, 238);
    --sideNavBgActive: rgb(226, 226, 226);
    --sideNavSep: #808080;
    --sideNavTextColor: #555555;
    --right_panel_dark_bg_color: #f1f1f1;
    --frameTabFont: rgb(175, 175, 175);
    --frameTabBg: #f1f1f1;
    --frameTabBgBorder: rgb(209, 209, 209);
    --frameTabBgBorderSelected: #0083fd;
    --frameTabBgSelected: #f7f7f7;
    --frameTabBorder: rgb(59, 59, 59);
    --rightPanelSettingsBorder: rgb(163, 163, 163);
    --rightPanelResponseAreaBorder: rgb(163, 163, 163);
    --frameTabBgHover: #dfdfdf;
    --frameButtonBg: #d3d3d3ad;
    --frameButtonFont: #20232c;
    --tabTextGeneral: $font_color_dark;
    --largeTakeAPhotoIcon: rgb(231, 231, 231);
    --tvControllerBg: #20232c1f;
    --tvControllerColor: rgb(176, 180, 190);
    --tvControllerBorder: rgb(176, 180, 190);
    --syncVideoIco: #0083fd8c;
    --syncVideoActive: #0083fd8c;
    --commentMsgBoxBg: #d5d7db;
    --showVideoInfo: #005baf;
    --messageRowHover: #005baf;
    --commentBlockBorder: #00113b;
    --streamLineBg: #eff1f7;
    --streamText: rgb(44, 44, 44);
    --bubbleTextBg: transparent;
    --bubbleText: #0083fd;
    --trackName: rgb(36, 36, 36);
    --commentMsgIcons: #0083fd;
    --commentMsgBg: rgb(223, 223, 223);
    --typingMessageText: rgb(36, 36, 36);
}